@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Oleo+Script+Swash+Caps&family=Open+Sans:wght@400;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner&family=Oleo+Script+Swash+Caps&family=Open+Sans:wght@400;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner&family=Oleo+Script+Swash+Caps&family=Open+Sans:wght@400;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner&family=Oleo+Script+Swash+Caps&family=Open+Sans:wght@400;700&family=Roboto&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;

}
*{
    margin: 0;
    padding: 0;
}
nav{
font-family: 'ubantu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 55px;
    background-color: black;
    color: white;

}
nav ul li{
    padding: 0 12px;
}
.band img{
   padding: 0 8px;
    width: 44px;
}
.band{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 80vh;
    background-color: black;
    color: white;
    font-family: 'Verdana', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 15px;
    background-image: url('bg.jpg');

}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.icons{
margin-top: 14px;

}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
   
}
.songItemcontainer{
    margin-top: 74px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 80%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 44px;
}
/* .songlistPlay{
    margin: 0 14px;
} */
.songItem img{
    width: 43px;
    margin: 0 23px 0;
    border-radius: 20px
    ;
}
.timestamp{
margin : 0 23px
}
.timestamp i {
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left :10vw ;
    font-family: 'Verdana', sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;

}
